<!DOCTYPE html>

<html>
    <form action="/login" method="post">
        <input type="hidden" name="csrf_token" value="{{ .csrfToken }}">
        
        {{if .reason}}
        <p>reason: {{.reason}}</p>
        {{end}}
        
        <label>login: <input type="login" name="login"></label><br>
        <label>password: <input id="password" type="password" name="password"></label><br>
        
        <input type="submit"></input>
    </form>

    <a href="/register">register</a>
</html>