<!DOCTYPE html>

<html>
    <form action="/register" method="post">
        <input type="hidden" name="csrf_token" value="{{ .csrfToken }}">

        {{if .reason}}
        <p>reason: {{.reason}}</p>
        {{end}}
        <label>name: <input type="text" name="name"></label><br>
        <label>surname: <input type="text" name="surname"></label><br>
        <label>login: <input type="login" name="login"></label><br>
        <label>password: <input id="password" type="password" name="password"></label><br>
        <label>role: <input type="text" name="role"></label><br>
        
        <input type="submit"></input>
    </form>
    <a href="/login">login</a>
</html>